node_modules
# Keep environment variables out of version control
.env


ya29.a0AeTM1id24qZ1vff89qvnq_kw3X8t9gz4VnhIdE-hW4lzGulw9gerrUaDmS73IQNOXRCY8GcITJXxQ0s4YF73EeaFKsDOyxFdMMH3gfsPvHIJmnxNWrjMPodbxfXY4Mjpoal2X5QVUyE90rpPtdNba5NibgOzaCgYKAaMSARASFQHWtWOmuge_YzEBiWPgv4ukHUGYoQ0163